@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: Roboto, serif;
    background: linear-gradient(0deg, #d1e0ff 2%, #ffffff 67%);
    
}

.logo {
    width: 4rem;
    /*Размер картинки логотипа */
}

.btn.btn-primary{
    margin-right: 10px; /*Кнопка "Вход"*/
}
header{
    font-size: 20px;
}

.img1{
    width: 100%;
    height: 286px;
}

.card-body {
    padding: 0;

}

.ots {
    text-align: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;  /* p внутри карточек */
}

.news{
    text-align: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;    /* p которые Новости */
             
}
section{
    margin-bottom: 89px;    /* p отсуп между серединой и нижней панлью */ 
}

footer{
    background-color: #c1c9da;
}

.foot{
    display: flex;
    justify-content:left;
    padding-bottom: 10px ;
    padding-top: 10px;
    list-style-type: none; /* p 'элменты нижней панели*/ 
    
}

.foot>li{
    margin-inline-start: 30px;
    font-size: 0.8em;            /* p 'элменты нижней панели*/ 
}
footer{
    height: 50px;
}